*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(30deg, black 17%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div:hover{
    animation-play-state: paused;
}
div{
    cursor: pointer;
}
.para2{
    clip-path: polygon(23% 18%, 100% 0%, 100% 100%, 13% 100%);
    position: absolute;
    right: 34%;
    animation-name: para2;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.para1{
    clip-path: polygon(0 0, 92% 0%, 81% 100%, 0% 100%);
    position: absolute;
    right: 47%;
    animation-name: para1;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes para2{
    to{
        transform: rotateZ(360deg);
    }
    from{
        transform: rotateZ(372deg);
    }
}
@keyframes para1{
    to{
        transform: rotateZ(359deg);
    }
    from{
        transform: rotateZ(351deg);
    }
}